@font-face {
    font-family: 'MyriadPro';
    src: url("fonts/MyriadPro.otf") format("opentype");
}

#myDiv {
    font-family: 'Open Sans', sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 600px;
    height: 400px;
    background-color: #f0f1f2;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    -webkit-animation: popin 0.3s;
    animation: popin 0.3s;
}

#myDiv .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.parade-footer-promo {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: -3000px;
    left: 0;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'MyriadPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    text-align: center;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.parade-footer-promo .parade-btn-close {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    background-color: #333;
    cursor: pointer;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.parade-footer-promo .parade-content {
    position: relative;
    width: 790px;
    margin: 10px auto;
}

.parade-footer-promo .parade-content p {
    float: left;
    font-size: 26px;
    width: 200px;
}

.parade-footer-promo .parade-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.parade-footer-promo .parade-content li {
    display: inline;
    margin-left: 20px;
}

.parade-mobile-footer-promo {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: -3000px;
    left: 0;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    font-family: 'MyriadPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.parade-mobile-footer-promo .parade-btn-close {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 8px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    background-color: #333;
    cursor: pointer;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.parade-mobile-footer-promo .parade-message {
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.parade-mobile-footer-promo .parade-message em {
    font-size: 22px;
}
.parade-mobile-footer-promo .parade-message-bold {
    color: #FDD60A;
    font-size: 50px;
    letter-spacing: 0;
}
