@font-face {
    font-family: 'Roboto';
    src: url("fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

#myDiv {
    font-family: 'Open Sans', sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 600px;
    height: 400px;
    background-color: #f0f1f2;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    -webkit-animation: popin 0.3s;
    animation: popin 0.3s;
}

#myDiv .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.parade-footer-promo {
    position: fixed;
    z-index: 1000000;
    right: 0;
    bottom: -3000px;
    left: 0;
    min-width: 800px;
    text-align: center;
    background-image: linear-gradient(#539EDF, #238EE8);

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.parade-footer-promo .parade-btn-close {
    position: absolute;
    z-index: 1000000;
    top: 10px;
    left: 20px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.parade-footer-promo .parade-content {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    text-align: left;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffff33;
}

.parade-footer-promo .parade-content span {
    float: left;
    font-size: 40px;
    line-height: 43px;
}

.parade-footer-promo .parade-content ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.parade-footer-promo .parade-content li {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #ddd;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.parade-footer-promo .parade-content li:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.parade-footer-promo .parade-content li:hover img {
    opacity: 0.5;
}

.parade-footer-promo .parade-content a {
    display: inline-blocks;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.parade-footer-promo .parade-content li span {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    color: #333;
    font-size: 26px;
}


.parade-footer-promo .parade-content li:hover span {
    display: inline;
}

.parade-mobile-footer-promo {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: -3000px;
    left: 0;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.parade-mobile-footer-promo .parade-btn-close {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 8px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    background-color: #333;
    cursor: pointer;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.parade-mobile-footer-promo .parade-message {
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.parade-mobile-footer-promo .parade-message em {
    font-size: 22px;
}
.parade-mobile-footer-promo .parade-message-bold {
    color: #FDD60A;
    font-size: 50px;
    letter-spacing: 0;
}
